h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.8em; }

h1, h2, h3 {
  font-family: "Roboto Slab", serif; }

p {
  color: #000; }

body {
  min-width: 320px; }

section.hero {
  background: #fff;
  text-align: center;
  color: #324376;
  line-height: 1.2em;
  padding: 60px 0 0 0;
  font-family: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  font-family: "Quicksand", Arial, sans-serif; }
  section.hero img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 300px; }
  section.hero p, section.hero a, section.hero span {
    font-size: 18px; }

section.code {
  padding: 0px 20px 20px; }
  section.code .buttons {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    margin-right: 10px; }
    section.code .buttons.white {
      background: #f5dd90; }
    section.code .buttons.orange {
      background: #f68e5f; }
    section.code .buttons.yellow {
      background: #324376; }

footer {
  background-color: #f76c5e;
  font-family: "Quicksand", Arial, sans-serif;
  color: #fff;
  text-align: center;
  padding: 10px 0 20px 0; }
