$mobile-width: 425px;
$tablet-width: 768px;
  
@mixin onlyMobile {
    @media (max-width: #{$mobile-width}){
        @content;
    }
}

@mixin onlyTablet {
    @media (min-width: #{$mobile-width + 1}) and (max-width: #{$tablet-width}){
        @content;
    }
}

@mixin toTablet {
    @media (max-width: #{$tablet-width}){
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$tablet-width + 1}){
        @content;
    }
}

$whiteColor: #fff;
$blueColor: #324376;
$orangeColor: #f76c5e;
$lightOrangeColor: #f68e5f;
$yellowColor: #f5dd90;
$lightBlueColor: #586ba4;
$titleFont: 'Roboto Slab', serif;
$textFont: 'Quicksand', Arial, sans-serif;
$box-shadow: 2px 7px 18px -10px rgba(0,0,0,0.4);
$blueColorOp: rgba(50,67,118, 0.5);

.skills {
    margin-top: -10rem;
    padding: 5rem 1.5rem;
    p {
        color: #000;
    }
    img {
        width: 80px;
    }
    .container {
        margin: 0 auto;
        max-width: 800px;
        background-color: $whiteColor;
        border-radius: 12px;
        box-shadow: 0 5px 5px 0 $blueColorOp, 0 0 0 1px #E6ECF8;
        color: $blueColor;
        display: block;
        padding: 0 1.25rem;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        text-align: center;
        font-family: $textFont;
        display: flex;
        justify-content: space-evenly;
        @include toTablet {
            flex-wrap: wrap;
        }
        .column {
            border-right: 1px solid $blueColorOp;
            padding: 1.25rem;
            width: 50%;
            &:last-of-type {
                border-right: none;
            }
            @include toTablet {
                border-right: none;
                border-bottom: 1px solid $blueColorOp;
                width: 100%;
                padding-bottom: 80px;
                &:last-of-type {
                    border-bottom: none;
                }
            }
        }

    }   
}
