$whiteColor: #fff;
$blueColor: #324376;
$orangeColor: #f76c5e;
$lightOrangeColor: #f68e5f;
$yellowColor: #f5dd90;
$lightBlueColor: #586ba4;
$titleFont: 'Roboto Slab', serif;
$textFont: 'Quicksand', Arial, sans-serif;
$box-shadow: 2px 7px 18px -10px rgba(0,0,0,0.4);
$blueColorOp: rgba(50,67,118, 0.5);